:root {
    --clr-accent-100: hsl(0, 78%, 62%);
    --clr-accent-200: hsl(180, 62%, 55%);
    --clr-accent-300: hsl(212, 86%, 64%);
    --clr-accent-400: hsl(34, 97%, 64%);
    
    --clr-neutral-200: hsl(0, 0%, 98%);
    --clr-neutral-400: hsl(229, 6%, 66%);
    --clr-neutral-600: hsl(234, 12%, 34%);

    --ff-400: "Poppins", sans-serif;

    --fw-light: 200;
    --fw-regular: 400;
    --fw-bold: 600;

    --fs-small: 0.8125rem;
    --fs-regular: 0.9375rem;
    --fs-large: 1.25rem;

    --fluid-24-36: clamp(1.5rem, 1.2391rem + 1.3043vi, 2.25rem);
    --fluid-017-025: clamp(0.17px, 0.1422px + 0.0087vi, 0.25px);
}

/* josh comeau reset */

*, *::before, *::after {
    box-sizing: border-box;
    }
* {
margin: 0;
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
#root, #__next {
isolation: isolate;
}
html,
body {
    height: 100%;
}

/* general styling */
body {
    font-family: var(--ff-400);
    font-size: var(--fs-regular);
    color: var(--clr-neutral-400);
    background-color: var(--clr-neutral-200);
    text-align: center;
    display: grid;
    place-content: center;
}
.heading,
h2 {
    color: var(--clr-neutral-600);
}
.heading h1, .heading p {
    font-size: var(--fluid-24-36);
    line-height: 1.5;
    letter-spacing: var(--fluid-017-025);
}
.heading h1 {
    font-weight: var(--fw-light);
}
.heading p {
    font-weight: var(--fw-bold);
}
.main-p {
    max-width: 33.75rem;
    padding: 1rem 2rem 0rem 2rem;
    margin: 0 auto;
}
.container {
    padding: 4rem 2rem 0 2rem;
    display: grid;
    gap: 2rem;
    max-width: 1150px;
    margin: 0 auto;
}
.card {
    background-color: white;
    border-radius: 0.4rem;
    box-shadow: var(--clr-neutral-400) .1rem .4rem 1rem;
    position: relative;
    overflow: hidden;
    padding: 1.75rem;
    text-align: start;
    display: grid;
}
@media (min-width: 580px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 870px) {
    .container {
        grid-template-areas:
            ".              teambuilder     ."
            "supervisor     teambuilder     calculator"
            "supervisor     karma           calculator"
            ".              karma           .";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .card-supervisor {
        grid-area: supervisor;
    }
    .card-team-builder {
        grid-area: teambuilder;
    }
    .card-karma {
        grid-area: karma;
    }
    .card-calculator {
        grid-area: calculator;
    }
}

.card p {
    font-size: var(--fs-small);
}
.card::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    top: 0;
    left: 0;
}
.card-supervisor::before {
    background-color: var(--clr-accent-200);
}
.card-team-builder::before {
    background-color: var(--clr-accent-100);
}
.card-karma::before {
    background-color: var(--clr-accent-400);
}
.card-calculator::before {
    background-color: var(--clr-accent-300);
}
.card img {
    margin-top: 2rem;
    justify-self: end;
}